<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'API Docs' }) %>
  <body>
    <%- include('partials/app-shell-start', {
          pageTitle: 'API Documentation',
          pageSubtitle: 'Interactive Swagger interface'
        }) %>
        <iframe src="/swagger" class="swagger-frame"></iframe>
    <%- include('partials/app-shell-end') %>
  </body>
</html>
