<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'API Docs' }) %>
  <body>
    <div class="app-container">
      <%- include('partials/sidebar') %>
      <div class="content">
        <iframe src="/swagger" class="swagger-frame"></iframe>
      </div>
    </div>
  </body>
</html>
