<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'API Key Created' }) %>
<body>
  <h1>API Key Created</h1>
  <p>This is your new API key. Please store it securely; it will not be shown again.</p>
  <pre><%= key %></pre>
  <p><a href="/admin">Back to Admin</a></p>
</body>
</html>
