<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'Business Info' }) %>
<body>
  <div class="app-container">
    <%- include('partials/sidebar') %>
    <div class="content">
      <h1>Business Information</h1>
      <% if (company) { %>
        <p>Name: <%= company.name %></p>
        <% if (company.address) { %>
          <p>Address: <%= company.address %></p>
        <% } %>
      <% } %>
    </div>
  </div>
</body>
</html>
