<!DOCTYPE html>
<html>
<head>
  <title>Business Info</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Business Info</a>
      <a href="/licenses">Licenses</a>
      <a href="/logout">Logout</a>
    </nav>
    <h1>Business Information</h1>
    <% if (company) { %>
      <p>Name: <%= company.name %></p>
      <% if (company.address) { %>
        <p>Address: <%= company.address %></p>
      <% } %>
    <% } %>
  </div>
</body>
</html>
