<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="login-page">
  <div class="login-container">
    <h1>Login</h1>
    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>
    <form method="post" action="/login">
      <label>Email:<br><input type="email" name="email" required></label><br><br>
      <label>Password:<br><input type="password" name="password" required></label><br><br>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
