<nav class="sidebar">
  <a href="/" class="menu-link"><i class="fas fa-briefcase"></i> Business Info</a>
  <a href="/licenses" class="menu-link"><i class="fas fa-file-contract"></i> Licenses</a>
  <a href="/logout" class="menu-link logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
</nav>
